#calcbtn{
    width: 60px;
    height: 60px;
    font-size: 20px;
}

#answer{
    width: 120px;
    height: 30px;
    font-size: 20px;
}

#question{
    font-size: 30px;
}

#chkans{
    width: 120px;
    height: 30px;
    font-size: 15px;
}